# Configurações do Banco de Dados
POSTGRES_DB=nome_do_banco
POSTGRES_USER=usuario_do_banco
POSTGRES_PASSWORD=senha_super_segura

# Configurações da API
JWT_SECRET=chave_secreta_com_pelo_menos_256_bits_gerada_aleatoriamente
JWT_EXPIRATION_MS=28800000
